body {
  background: url("../img/depositphotos_22012205-stock-photo-guitar-pick.jpg")
    center no-repeat fixed;
}
.header_home {
  height: 150px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: rgba(88, 52, 30, 0.247);
}

.header_nav {
  font-size: 25px;
}

.top_nav_list {
  padding: 10px;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}